html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	direction: ltr;
	background-image: linear-gradient(rgba(255, 255, 255, 0), grey), url('../img/');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #dde0e7;
}

.main {
	padding-bottom: 18%;
}

/* ----------------------- Start Header ----------------------- */
header {
	overflow: hidden;
	background-color: #5f5f5f;
	padding: 2px 0;
	z-index: 5;
	width: 100%;
	position: fixed;
}

.container-fluid .row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

header .home_page,
header .h_arrow {
	padding-top: 3.5%;
}

header .h_arrow .arrow,
header .h_title,
header .home_page a {
	color: #FFF;
	text-decoration: none;
}

.pulsate-fwd {
	-webkit-animation: pulsate-fwd 2s ease-in-out infinite both;
	animation: pulsate-fwd 2s ease-in-out infinite both;
}

.col-3.home_page.text-right{
	text-align: left !important;
}

.col-3.h_arrow{
	text-align: right !important;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-26 14:3:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

/* ----------------------- End Header ----------------------- */

/* ----------------------- Start New Video ----------------------- */
.new_video {
	width: 100%;
}

.new_video .row {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.new_video .row .col-12 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.new_video .video-fluid {
	width: 100% !important;
	/* height: 170px; */
	object-fit: cover;
}

/* ----------------------- End New Video ----------------------- */

/* ----------------------- Start Prayer Timing ----------------------- */
.prayer_timing {
	margin-bottom: 5%;
}

.prayer_timing .prayer_timing_title,
.previous_video .previous_video_title {
	background-color: #5f5f5f;
	height: 32px;
	padding-top: 1.5%;
	color: #FFF;
	margin-bottom: 4%;
}

.prayer_timing .prayer_timing_title h6,
.previous_video .previous_video_title h6 {
	font-size: 15px;
}

.prayer_timing .prayer,
.prayer_timing .timing {
	background-color: #FFF;
	color: #5f5f5f;
	padding: 10px 12px;
}

.prayer_timing .prayer strong,
.prayer_timing .timing strong {
	display: block;
}

.prayer_timing .image img {
	height: 140px;
}

/* ----------------------- End Prayer Timing ----------------------- */

/* ----------------------- Start Previous Video ----------------------- */
.previous_video {
	background-color: #FFF;
	padding: 10px 10px;
}

/* ----------------------- End Previous Video ----------------------- */

/* ----------------------- Start Footer ----------------------- */
footer {
	position: fixed;
	display: flex;
	width: 100%;
	bottom: 0;
	background-color: #5f5f5f;
	height: 45px;
	padding: 0px;
	z-index: 2;
}

/* ----------------------- End Footer ----------------------- */