@font-face {
	font-family: aboelwafa;
	src: url(fonts/Shahd-Font-Regular.ttf);
}


@font-face {
	font-family: tradbdo;
	src: url(fonts/tradbdo.TTF);
}


@font-face {
	font-family: beinB;
	src: url(fonts/bein-black.ttf);
}


@font-face {
	font-family: beinA;
	src: url(fonts/bein-normal.ttf);
}