/* general */
::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: myFont;
  src: url("../font/HSN_sadiyah.ttf");
}

html {
  height: 100%;
}

body {
  direction: rtl;
  font-family: myFont;
}

.main_container {
  width: 100%;
  height: 100%;
  background-image: url("../img/BG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*----------------------------------------- welcome page -----------------------------------------*/
.welcome_page .logo {
  width: 100%;
}

.welcome_page .logo img {
  width: 320px;
  margin: 20% auto 5% auto;
  display: block;
}

.welcome_page a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.welcome_page a i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 13px;
}

.welcome_page .copy {
  text-align: center;
  margin-top: 20%;
  position: fixed;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.welcome_page .copy p {
  font-size: 10px;
  color: #fff;
}

.welcome_page .copy p span {
  font-family: serif;
}

/*----------------------------------------- menu & navbar -----------------------------------------*/
/*
header {
    width: 100%;
    top: 0;
    background-color: $second-color;
    height: 30px;
    padding: 5px;
    border-bottom: 3px solid $third-color;
}
*/
/*------------------------------------------- home page ---------------------------------------*/
.main {
  padding-bottom: 15%;
}

.main .owl-carousel.owl_main .item {
  text-align: center;
  border-bottom: 2px solid #444;
}

.main .owl-carousel.owl_main .item img {
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 175px;
}

.main .owl-carousel.owl_main .owl-nav button.owl-next {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 40%;
}

.main .owl-carousel.owl_main .owl-nav button.owl-prev {
  color: #fff;
  position: absolute;
  left: 10px;
  top: 40%;
}

.main .owl-theme.owl_main .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .owl-theme.owl_main .owl-dots .owl-dot.active span, .main .owl-theme.owl_main .owl-dots .owl-dot:hover span {
  background: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.main .owl-theme.owl_main .owl-dots .owl-dot span {
  background: #4444445c;
}

.main .search {
  position: relative;
}

.main .search i {
  position: absolute;
  left: 7%;
  top: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #ea7936;
  z-index: 2;
}

.main .search #myInput {
  width: 100%;
  font-size: 16px;
  padding: 6px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  text-align: center;
  background-color: #e9ecef7d;
  border-radius: 5px;
  margin-top: 12px;
}

.main .daily_post {
  margin-bottom: 15px;
}

.main .daily_post .daily_title {
  text-align: right;
  color: #fff;
  padding: 0 10px;
}

.main .daily_post .poster {
  background-image: -webkit-gradient(linear, left top, right top, from(#d62b2b), to(#ea7936));
  background-image: linear-gradient(to right, #d62b2b, #ea7936);
  padding: 10px;
}

.main .daily_post .poster .border_poster {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 17px 10px 10px 10px;
}

.main .daily_post .poster .border_poster .poster_title {
  text-align: right;
  color: #fff;
  margin-top: 8%;
}

.main .daily_post .poster .border_poster .poster_title h3 {
  padding: 0 5px;
  border: 1px solid #fff;
  width: 100px;
  text-align: center;
  border-radius: 10px;
}

.main .daily_post .poster .border_poster .p_poster {
  text-align: right;
  color: #fff;
}

.main .daily_post .poster .border_poster .poster_filtar {
  position: relative;
  background-image: url(../img/Rounded-Rectangle%20.png);
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.main .daily_post .poster .border_poster .poster_filtar i {
  position: absolute;
  left: 3px;
  bottom: 8px;
  color: #fff;
  cursor: pointer;
}

.main .daily_post .poster .border_poster .poster_filtar a {
  color: #fff;
  text-decoration: none;
}

.main .daily_post .poster .border_poster .poster_filtar a img {
  width: 100%;
  margin: auto;
  display: block;
  padding: 18px;
}

.main .filtars {
  margin-bottom: 15px;
}

.main .filtars .f_title {
  text-align: right;
  color: #fff;
  padding: 0 10px;
}

.main .filtars .f_filtar {
  background-image: -webkit-gradient(linear, left top, right top, from(#d62b2b), to(#ea7936));
  background-image: linear-gradient(to right, #d62b2b, #ea7936);
  padding: 10px;
}

.main .filtars .f_filtar .owl-carousel.owl_three .item {
  text-align: center;
  padding: 8px;
  position: relative;
  background-image: url(../img/Rounded-Rectangle%20.png);
  width: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.main .filtars .f_filtar .owl-carousel.owl_three .item i {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #fff;
  cursor: pointer;
}

.main .filtars .f_filtar .owl-carousel.owl_one .item, .main .filtars .f_filtar .owl-carousel.owl_two .item {
  text-align: center;
  padding: 8px;
  position: relative;
  background-image: url(../img/Rounded-Rectangle%20.png);
  width: 106px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.main .filtars .f_filtar .owl-carousel.owl_one .item a, .main .filtars .f_filtar .owl-carousel.owl_two .item a {
  width: 85px;
  height: 85px;
}

.main .filtars .f_filtar .owl-carousel.owl_one .item a img, .main .filtars .f_filtar .owl-carousel.owl_two .item a img {
  width: 85px;
  margin: auto;
  height: 85px;
  padding: 10px;
}

.main .filtars .f_filtar .owl-carousel.owl_one .item i, .main .filtars .f_filtar .owl-carousel.owl_two .item i {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #fff;
  cursor: pointer;
}

.main .filtars .f_filtar .owl-carousel.owl_three .item i {
  position: absolute;
  left: 8px;
  bottom: 8px;
  color: #fff;
  cursor: pointer;
}

.main .filtars .f_filtar .owl-carousel.owl_three .item a {
  color: #fff;
  text-decoration: none;
}

.main .filtars .f_filtar .owl-carousel.owl_three .item a img {
  width: 100%;
  margin: auto;
  display: block;
  padding: 10px;
  height: 85px;
}

.main .filtars .f_filtar .owl-carousel.owl_three .owl-nav.disabled {
  display: block;
}

.main .filtars .f_filtar .owl-carousel.owl_three .owl-nav.disabled button.owl-next {
  color: #fff;
  position: absolute;
  right: 0px;
  bottom: 30%;
}

.main .filtars .f_filtar .owl-carousel.owl_three .owl-nav.disabled button.owl-prev {
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 30%;
}

.owl-carousel .owl-nav button.owl-next {
  color: #fff;
  position: absolute;
  right: 0px;
  bottom: 30%;
}

.owl-carousel .owl-nav button.owl-prev {
  color: #fff;
  position: absolute;
  left: 0px;
  bottom: 30%;
}

.active {
  font-weight: 900;
}

/*------------------------------------- fav page --------------------------------------*/
.fav_cat {
  position: relative;
}

.fav_cat .label_title {
  background-image: -webkit-gradient(linear, right top, left top, from(#d62b2b), to(#ea7936));
  background-image: linear-gradient(to left, #d62b2b, #ea7936);
  border-radius: 25px;
  position: absolute;
  z-index: 2;
  width: 75%;
  left: 22px;
}

.fav_cat .label_title img {
  width: 35px;
  height: 35px;
  background: #fff;
  margin: 5px;
  border-radius: 50%;
  padding: 5px;
  float: left;
}

.fav_cat .label_title a {
  color: #fff;
  text-decoration: none;
}

.fav_cat .label_title a .title {
  text-align: center;
  color: #fff;
  margin-top: 20%;
  white-space: nowrap;
  display: block;
  font-size: 14px;
}

.fav_cat .label_title a i {
  margin-left: 20px;
  margin-top: 14px;
}

.fav_cat .fav_item {
  position: relative;
  background-image: url(../img/Rounded-Rectangle-2.png);
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 15px;
  margin-bottom: 20%;
}

.fav_cat .fav_item i {
  position: absolute;
  left: 6px;
  bottom: 18px;
  color: #d62b2b;
  cursor: pointer;
}

.fav_cat .fav_item a {
  color: #fff;
  text-decoration: none;
}

.fav_cat .fav_item a img {
  width: 100%;
  margin: auto;
  display: block;
  padding: 15px;
  height: 115px;
}

/*------------------------------------- end fav page --------------------------------------*/
/*------------------------------------- footer ---------------------------------------*/
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #ce4613c2;
  height: 55px;
  padding: 5px;
  z-index: 2;
  text-align: center;
}

footer a {
  font-size: 21px;
  color: #fff;
  text-align: center;
  width: 25%;
  text-decoration: none;
}

footer a .f-nav span {
  display: block;
  font-size: 12px;
  font-family: myFont;
  font-weight: 100;
  color: #fff;
}

footer a:hover i, footer a:focus i, footer a:active i {
  color: #e8b929;
}

.current {
  color: #e8b929;
}

/*------------------------------------------- loading page ---------------------------------------*/
.loading-overlay {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.spinner {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.category_title {
  background-image: -webkit-gradient(linear, right top, left top, from(#d62b2b), to(#ea7936));
  background-image: linear-gradient(to left, #d62b2b, #ea7936);
  border-radius: 25px;
  margin: 5px;
}

.category_title img {
  width: 35px;
  height: 35px;
  background: #fff;
  margin: 5px 5px 5px 20px;
  border-radius: 50%;
  padding: 5px;
}

.category_title .count {
  display: inline-block;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.category_title .a_title {
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.category_title h5 {
  text-align: center;
  color: #fff;
  margin-top: 8%;
}

.category_title .i_arrow {
  float: left;
  margin: 10px 10px 10px 30px;
  color: #fff;
  text-decoration: none;
}

.category_title i {
  float: right;
  margin-left: 10px;
  margin-top: 5px;
}

.line {
  border-left: 2px solid #F79130;
  height: 30px;
  float: left;
  margin-top: 13px;
}

.inner_page {
  background-color: #b7b7b782;
  border-radius: 15px;
  padding: 8px;
  margin: 20px;
}

.inner_page img {
  width: 160px;
  margin: auto;
  display: block;
}

.button-inner {
  margin-top: 25px;
}

.button-inner a {
  text-align: center;
  background: #E15447;
  width: 50%;
  display: block;
  margin: auto;
  height: 35px;
  line-height: 35px;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.modal-content {
  background-color: #191916d4;
}

#snapModal {
  margin-top: 30%;
}

#snapModal img {
  width: 50%;
  margin: auto;
  display: block;
  padding: 8px;
}

#snapModal .modal-footer a {
  display: inline-block;
  margin: auto;
  background: #e14747ad;
  width: 40%;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 10px;
}

#snapModal2 {
  margin-top: 30%;
}

#snapModal2 .modal-body {
  text-align: center;
}

#snapModal2 .modal-body a {
  font-size: 35px;
  color: #fff;
  padding: 5px;
  text-align: center;
  width: 15%;
  text-decoration: none;
}

#snapModal2 .modal-footer a {
  display: inline-block;
  margin: auto;
  background: #e14747ad;
  width: 40%;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 10px;
}
/*# sourceMappingURL=main-style.css.map */