/* general */
$main-color: #ffdd00;

@font-face {
  font-family: myFont;
  src: url('../font/HSN_sadiyah.ttf');
}

body {
  font-family: myFont;
  height: 100%;
  width: 100%;
}

.main_container {
  width: 100%;
  height: 100%;
  background-image: url("../img/snap_new_landing/BG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  overflow-y: scroll;
  text-decoration: none;
}

/*----------------------------------------- landing page -----------------------------------------*/
.landing_page {
  margin-top: 1.65rem;
  .start_video {
    display: block;

    video {
      object-fit: cover;
      height: 13.875rem;
    }
  }

  .logo {
    width: 25%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  h6 {
    color: #fff;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .strip {
    // background-image: url('../img/strip_white.png');
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 4px;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 2%;
  }

  .title {
    text-align: center;
    margin: 20px auto 0 auto;
    color: #fff;
  }

  .shbka {
    text-align: center;

    h3 {
      color: #fff;
      padding: 10px;
      font-weight: bold;
      margin: 0;
    }

    .zain_viva {
      width: 100%;

      #viva,
      #zain,
      #ooredoo {
        cursor: pointer;
        width: 60%;
      }
    }
  }

  .form_content {
    margin: 5% auto 0 auto;
    text-align: center;
    display: block;
    width: 80%;

    h5 {
      line-height: 1.6;
      color: #fff;

      span {
        font-family: serif;
      }
    }

    .validity {
      display: none;
      margin: 5px;
      font-weight: bold;
    }

    input:invalid+span::after {
      content: "✖";
      color: rgb(255, 0, 0);
    }

    input:valid+span::after {
      content: "✓";
      color: rgb(38, 183, 43);
    }

    form {
      .form-group {
        //margin-left: 10%;

        label {
          background-color: #495057;
          color: #fff;
          padding: 6px;
          margin-bottom: 0;

          span {
            font-family: serif;
          }
        }

        input {
          width: 70%;
          font-family: serif;
        }
      }

      .btn {
        background-color: #495057;
        color: #fff;
        margin-bottom: 10px;
        display: block;
        margin: auto;
        width: 70%;
      }
    }
  }

  .cancel {
    text-align: center;
    color: #fff;
    padding: 20px 8px 0 8px;
    font-size: 18px;
  }
}

/*----------------------------------------- confirm page -----------------------------------------*/
.confirm_page {
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .confirm {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 30px 10px;
    border-radius: 5px;
    width: 85%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    span {
      display: block;
      font-size: 20px;
      font-weight: bold;
      line-height: 2.5;

      span {
        font-family: serif;
      }
    }

    .btn {
      background-color: #495057;
      color: #fff;
      margin: 15px;
      width: 50%;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
    }
  }
}

/*------------------------------------------- copyright---------------------------------------*/

.copy {
  text-align: center;
  margin-top: 8%;

  p {
    font-size: 10px;
    color: #fff;

    span {
      font-family: serif;
    }
  }
}

/*------------------------------------------- loading page ---------------------------------------*/

.loading-overlay {
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.spinner {
  position: relative;
  width: 300px;
  margin: 150px auto;

  img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
}
