/* general */
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

h4 {
  color: #d3181f;
}

@font-face {
  font-family: myFont;
  src: url("../font/HSN_sadiyah.ttf");
}

body {
  font-family: myFont;
  width: 100%;
  height: 100%;
  background-image: url("../images/BG.png");
  background-size: 120%, 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_container {
  width: 100%;
}

/*----------------------------------------- welcome page -----------------------------------------*/
.welcome_page .logo {
  width: 100%;
  text-align: center;
}

.welcome_page .logo img {
  width: 75%;
  margin: 15% auto;
}

.welcome_page a {
  text-decoration: none;
  color: #4f4f4f;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 66%;
  left: 39%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.welcome_page a i {
  border: 1px solid #4f4f4f;
  border-radius: 50%;
  padding: 13px;
}

/*----------------------------------------- header title -----------------------------------------*/
header {
  width: 100%;
  height: 54px;
  background-color: #d3181f;
  padding: 6px 10px;
}

header .h_arrow {
  padding-top: 10px;
}

header .h_arrow .arrow_back {
  color: #FFF;
  text-decoration: none;
}

header .pulsate-bck {
  -webkit-animation: pulsate-bck 1.5s ease-in-out infinite both;
  animation: pulsate-bck 1.5s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

header .logo-title img {
  width: 64%;
}

.search {
  position: relative;
  outline: 0;
}

.search i {
  position: absolute;
  left: 7%;
  top: 48%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #d3181f;
  z-index: 2;
}

.search #myInput {
  border: 3px solid #989898;
  background-color: #e9ecef7d;
  outline: 0;
  width: 95%;
  font-size: 16px;
  padding: 6px 20px;
  margin-bottom: 12px;
  text-align: center;
  margin-top: 12px;
  margin: 10px auto;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  -o-border-radius: 500px;
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

.search .input-right:focus {
  outline: 0;
}

.search input.input-right + .bord {
  position: absolute;
  bottom: 11px;
  background-color: #d3181f;
  width: 0;
  height: 3px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.search input.input-right + .bord {
  right: 22px;
}

.search input.input-right:focus + .bord {
  width: 87%;
}

.search .hide:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search .hide:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.search .hide:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/*------------------------------------------- home, categories, sub_categories page ---------------------------------------*/
.main {
  padding-bottom: 18%;
}

.main video::-webkit-media-controls-panel {
  opacity: .5;
}

.main .owl-video .item .video-fluid {
  width: 100% !important;
  max-height: 202px;
  -o-object-fit: fill;
     object-fit: fill;
}

.main .owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 92%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 0;
}

.main .owl-dot {
  outline: 0;
}

.main .owl-theme .owl-dots .owl-dot.active span,
.main .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #d3181f;
}

.main .user_filter .use_filter_link {
  background: #d3181f;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  bottom: 75%;
  left: 58%;
  width: 40%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.main .bounce-left {
  -webkit-animation: bounce-left 3.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.5s infinite alternate-reverse both;
  animation: bounce-left 3.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.5s infinite alternate-reverse both;
}

@-webkit-keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-48px);
    transform: translateX(-48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-left {
  0% {
    -webkit-transform: translateX(-48px);
    transform: translateX(-48px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateX(-26px);
    transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateX(-13px);
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87%,
  98% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.main .status .s_title {
  text-align: right;
  color: #d3181f;
  padding: 0 10px;
}

.main .status .contant {
  background-color: #98989863;
  margin: 8px;
  padding: 0 26px;
}

.main .status .contant .filter-img {
  position: relative;
}

.main .status .contant .filter-img i {
  color: #d3181f;
  position: absolute;
  left: 50%;
  top: 84%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main .status .contant .filter-title {
  padding-top: 32px;
  color: #495057;
}

.main .status .contant .filter-title h4 {
  font-size: 35px;
}

.main .status .contant .owl-carousel.owl-one .item img,
.main .status .contant .owl-carousel.owl-two .item img,
.main .status .contant .owl-carousel.owl-three .item img {
  height: 80px;
}

.main .status .contant .owl-carousel.owl-one .item .heart_one,
.main .status .contant .owl-carousel.owl-one .item .heart_two,
.main .status .contant .owl-carousel.owl-two .item .heart_one,
.main .status .contant .owl-carousel.owl-two .item .heart_two,
.main .status .contant .owl-carousel.owl-three .item .heart_one,
.main .status .contant .owl-carousel.owl-three .item .heart_two {
  position: absolute;
  color: #d3181f;
  cursor: pointer;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.main .status .contant .owl-carousel.owl-one .item .heart_one,
.main .status .contant .owl-carousel.owl-two .item .heart_one,
.main .status .contant .owl-carousel.owl-three .item .heart_one {
  left: 50%;
  top: 85%;
  font-size: 17px;
}

.main .status .contant .owl-carousel.owl-one .item .heart_two,
.main .status .contant .owl-carousel.owl-two .item .heart_two,
.main .status .contant .owl-carousel.owl-three .item .heart_two {
  left: 50%;
  top: 86px;
  font-size: 20px;
}

.main .status .contant .owl-carousel.owl-one button.owl-next,
.main .status .contant .owl-carousel.owl-one button.owl-prev,
.main .status .contant .owl-carousel.owl-two button.owl-next,
.main .status .contant .owl-carousel.owl-two button.owl-prev,
.main .status .contant .owl-carousel.owl-three button.owl-next,
.main .status .contant .owl-carousel.owl-three button.owl-prev {
  color: #d3181f;
  position: absolute;
  bottom: 30%;
  font-size: 20px;
  outline: 0;
  border: 0;
}

.main .status .contant .owl-carousel.owl-one button.owl-next:hover,
.main .status .contant .owl-carousel.owl-one button.owl-prev:hover,
.main .status .contant .owl-carousel.owl-two button.owl-next:hover,
.main .status .contant .owl-carousel.owl-two button.owl-prev:hover,
.main .status .contant .owl-carousel.owl-three button.owl-next:hover,
.main .status .contant .owl-carousel.owl-three button.owl-prev:hover {
  background: none;
}

.main .status .contant .owl-carousel.owl-one button.owl-next,
.main .status .contant .owl-carousel.owl-two button.owl-next,
.main .status .contant .owl-carousel.owl-three button.owl-next {
  right: -25px;
}

.main .status .contant .owl-carousel.owl-one button.owl-prev,
.main .status .contant .owl-carousel.owl-two button.owl-prev,
.main .status .contant .owl-carousel.owl-three button.owl-prev {
  left: -25px;
}

.main .status .contant .owl-carousel .owl-dots,
.main .status .contant .owl-carousel .owl-nav {
  display: block;
}

.main .status .btn-more {
  font-size: 20px;
  padding: 0 0 0 15px;
  font-weight: bold;
}

.main .status .btn-more a {
  color: #383838;
  text-decoration: none;
}

/*------------------------------------- Start Categories & Sub_cat Page --------------------------------------*/
.categories_page .s_title {
  text-align: right;
  color: #d3181f;
  padding: 0 10px;
}

.categories_page .s_title h4 {
  font-weight: bold;
}

.categories_page .categories_page_img img {
  height: 100px !important;
}

.categories_page .categories_page_bg {
  background-color: #98989863;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 6%;
}

.categories_page .categories_page_title {
  color: #d3181f;
}

.categories_page .categories_page_title h3 {
  font-size: 23px;
}

.categories_page .sub_img {
  position: relative;
}

.categories_page .sub_img .frame_icon {
  width: 14.5%;
  position: absolute;
  top: 49%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.categories_page .sub_img_small .sub_img_smImg {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.categories_page .sub_img_small .frame_icon_sm {
  top: 48%;
  left: 28%;
  width: 11.5%;
}

.categories_page .sub_img_title {
  position: relative;
}

.categories_page .sub_img_title h1,
.categories_page .sub_img_title h3 {
  font-size: 5vw;
  color: #FFF;
  position: absolute;
  top: -36px;
  left: 55%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.categories_page .download_share {
  cursor: pointer;
  margin-top: 7%;
  position: relative;
}

.categories_page .download_share .background_strip {
  background-color: #d3181f;
  color: #FFF;
  height: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 1.5px 3px #989898;
          box-shadow: 1.5px 3px #989898;
}

.categories_page .download_share .background_strip h3 {
  width: 100%;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.categories_page .download_share .background_strip:hover, .categories_page .download_share .background_strip:focus, .categories_page .download_share .background_strip:active {
  background-color: #FFF;
  color: #d3181f;
}

.categories_page .roll-in-bottom {
  -webkit-animation: roll-in-bottom 1s ease-in-out 1.5s both;
  animation: roll-in-bottom 1s ease-in-out 1.5s both;
}

@-webkit-keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes roll-in-bottom {
  0% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.swirl-out-bck {
  -webkit-animation: swirl-out-bck 1s ease-in-out 1s alternate-reverse both;
  animation: swirl-out-bck 1s ease-in-out 1s alternate-reverse both;
}

@-webkit-keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

@keyframes swirl-out-bck {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

.swirl-out-bck_2 {
  -webkit-animation: swirl-out-bck 1s ease-in-out 1.5s alternate-reverse both;
  animation: swirl-out-bck 1s ease-in-out 1.5s alternate-reverse both;
}

@-webkit-keyframes swirl-out-bck_2 {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

@keyframes swirl-out-bck_2 {
  0% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
}

.search_for {
  text-align: right;
  color: #989898;
  padding: 0 10px;
  margin-top: 5%;
}

.search_for h4 {
  font-weight: bold;
}

/*------------------------------------- End Categories & Sub_cat Page --------------------------------------*/
/*------------------------------------- footer ---------------------------------------*/
footer .footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #d3181f;
  height: 55px;
  padding: 5px;
  z-index: 2;
  text-align: center;
}

footer .footer a {
  font-size: 21px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

footer .footer a .f-nav span {
  display: block;
  font-size: 12px;
  font-family: myFont;
  font-weight: 100;
}

footer .sub-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #0dc143;
  height: 20px;
  padding: 3px 0;
  z-index: 2;
  text-align: center;
}

footer .sub-footer p {
  font-size: 11px;
  color: #383838;
}

footer .sub-footer p span {
  font-family: serif;
}

.current {
  color: #989898 !important;
}

/*------------------------------------------- loading page ---------------------------------------*/
.loading-overlay {
  background-color: #383838;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.loading-overlay .spinner {
  width: 75%;
  position: absolute;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-overlay .spinner img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

/*------------------------------------------- Start Media Queries ---------------------------------------*/
@media (min-width: 768px) and (max-width: 1020px) {
  header {
    height: 100px !important;
  }
  header .h_arrow {
    padding-top: 20px !important;
    font-size: 30px !important;
  }
  header .logo-title {
    padding-left: 75px !important;
  }
  header .logo-title img {
    width: 45%;
  }
  .search #myInput {
    height: 70px !important;
    font-size: 35px !important;
  }
  .search i {
    font-size: 30px !important;
    top: 50% !important;
  }
  .search input.input-right + .bord {
    right: 45px !important;
  }
  .search input.input-right:focus + .bord {
    width: 88% !important;
  }
  .main .owl-video .item .video-fluid {
    max-height: 400px !important;
  }
  .main .owl-theme .owl-nav.disabled + .owl-dots {
    top: 96.5% !important;
  }
  .main .owl-theme .owl-dots .owl-dot span {
    width: 14px !important;
    height: 14px !important;
  }
  .main .status .s_title h4 {
    font-size: 35px !important;
  }
  .main .status .contant .filter-img i {
    left: 50% !important;
    top: 85% !important;
    font-size: 40px !important;
  }
  .main .status .contant .filter-title {
    padding-top: 0;
  }
  .main .status .contant .filter-title h4 {
    padding-top: 100px !important;
    font-size: 65px !important;
  }
  .main .status .contant .owl-carousel.owl-one .item img,
  .main .status .contant .owl-carousel.owl-two .item img,
  .main .status .contant .owl-carousel.owl-three .item img {
    height: 180px !important;
    width: 75% !important;
  }
  .main .status .contant .owl-carousel.owl-one .item h4,
  .main .status .contant .owl-carousel.owl-two .item h4,
  .main .status .contant .owl-carousel.owl-three .item h4 {
    font-size: 40px !important;
  }
  .main .status .contant .owl-carousel.owl-one .item .heart_one,
  .main .status .contant .owl-carousel.owl-one .item .heart_two,
  .main .status .contant .owl-carousel.owl-two .item .heart_one,
  .main .status .contant .owl-carousel.owl-two .item .heart_two,
  .main .status .contant .owl-carousel.owl-three .item .heart_one,
  .main .status .contant .owl-carousel.owl-three .item .heart_two {
    font-size: 40px !important;
    left: 50% !important;
    top: 152px !important;
  }
  .main .status .contant button.owl-next,
  .main .status .contant button.owl-prev {
    font-size: 35px !important;
    bottom: 30% !important;
  }
  .main .categories_page .s_title h4 {
    font-size: 42px !important;
  }
  .main .categories_page .ipad_width img {
    width: 80% !important;
  }
  .main .categories_page .categories_page_img {
    margin-top: 2% !important;
  }
  .main .categories_page .categories_page_img img {
    height: 200px !important;
  }
  .main .categories_page .categories_page_title h3 {
    font-size: 55px !important;
  }
  .main .categories_page .sub_img_small .sub_img_smImg {
    transform: scale(1) !important;
    -webkit-transform: scale(1) !important;
    -moz-transform: scale(1) !important;
    -ms-transform: scale(1) !important;
    -o-transform: scale(1) !important;
  }
  .main .categories_page .sub_img_small .frame_icon_sm {
    top: 49% !important;
    left: 22.5% !important;
    width: 14% !important;
  }
  .main .categories_page .sub_img_title h1,
  .main .categories_page .sub_img_title h3 {
    font-size: 55px !important;
    top: -80px !important;
  }
  .main .categories_page .sub_img_title_small h1 {
    font-size: 6vw !important;
    top: -64px !important;
  }
  .main .categories_page .sub_img h3 {
    font-size: 55px !important;
    line-height: 90px !important;
  }
  .main .categories_page .sub_img i {
    font-size: 45px !important;
    top: 47% !important;
  }
  .main .categories_page .download_share a .background_strip {
    height: 65px !important;
  }
  .main .categories_page .download_share a .background_strip h3 {
    font-size: 50px !important;
  }
  .main .search_for h4 {
    font-size: 40px !important;
  }
  footer .footer {
    height: 65px !important;
  }
  footer .footer a .f-nav span,
  footer .footer a .f-nav i {
    font-size: 23px !important;
  }
  .modal-dialog {
    max-width: 90% !important;
  }
  .modal-dialog .modal-content .modal-body a {
    font-size: 60px !important;
    padding: 25px !important;
  }
  .modal-dialog .modal-content .modal-footer a {
    width: 50% !important;
    height: 65px !important;
    line-height: 60px !important;
    font-size: 50px !important;
  }
}

@media (min-width: 1021px) and (max-width: 1200px) {
  header {
    height: 100px !important;
  }
  header .h_arrow {
    padding-top: 20px !important;
    font-size: 30px !important;
  }
  header .logo-title {
    padding-left: 75px !important;
  }
  header .logo-title img {
    width: 40%;
  }
  .search #myInput {
    height: 75px !important;
    font-size: 40px !important;
  }
  .search i {
    font-size: 35px !important;
    top: 50% !important;
  }
  .search input.input-right + .bord {
    right: 53px !important;
  }
  .search input.input-right:focus + .bord {
    width: 89% !important;
  }
  .main .owl-video .item .video-fluid {
    max-height: 576px !important;
  }
  .main .owl-theme .owl-nav.disabled + .owl-dots {
    top: 97.5% !important;
  }
  .main .owl-theme .owl-dots .owl-dot span {
    width: 14px !important;
    height: 14px !important;
  }
  .main .status .s_title h4 {
    font-size: 50px !important;
  }
  .main .status .contant .filter-img i {
    left: 50% !important;
    top: 85% !important;
    font-size: 45px !important;
  }
  .main .status .contant .filter-title {
    padding-top: 0;
  }
  .main .status .contant .filter-title h4 {
    padding-top: 140px;
    font-size: 65px !important;
  }
  .main .status .contant .owl-carousel.owl-one .item img,
  .main .status .contant .owl-carousel.owl-two .item img,
  .main .status .contant .owl-carousel.owl-three .item img {
    height: 250px !important;
  }
  .main .status .contant .owl-carousel.owl-one .item h4,
  .main .status .contant .owl-carousel.owl-two .item h4,
  .main .status .contant .owl-carousel.owl-three .item h4 {
    font-size: 50px !important;
  }
  .main .status .contant .owl-carousel.owl-one .item .heart_one,
  .main .status .contant .owl-carousel.owl-one .item .heart_two,
  .main .status .contant .owl-carousel.owl-two .item .heart_one,
  .main .status .contant .owl-carousel.owl-two .item .heart_two,
  .main .status .contant .owl-carousel.owl-three .item .heart_one,
  .main .status .contant .owl-carousel.owl-three .item .heart_two {
    font-size: 70px !important;
    top: 205px !important;
  }
  .main .status .contant button.owl-next,
  .main .status .contant button.owl-prev {
    font-size: 40px !important;
    bottom: 35% !important;
  }
  .main .categories_page .s_title h4 {
    font-size: 55px !important;
  }
  .main .categories_page .ipad_width img {
    width: 80% !important;
  }
  .main .categories_page .categories_page_img {
    margin-top: 0 !important;
  }
  .main .categories_page .categories_page_img img {
    height: 300px !important;
  }
  .main .categories_page .sub_img_small {
    margin-top: 3%;
  }
  .main .categories_page .sub_img_small .sub_img_smImg {
    transform: scale(1.3) !important;
    -webkit-transform: scale(1.3) !important;
    -moz-transform: scale(1.3) !important;
    -ms-transform: scale(1.3) !important;
    -o-transform: scale(1.3) !important;
  }
  .main .categories_page .sub_img_small .frame_icon_sm {
    top: 49.5% !important;
    left: 14.5% !important;
    width: 18% !important;
  }
  .main .categories_page .categories_page_title h3 {
    font-size: 65px !important;
  }
  .main .categories_page .sub_img_title h1,
  .main .categories_page .sub_img_title h3 {
    font-size: 80px !important;
    top: -106px !important;
  }
  .main .categories_page .sub_img_title_small h1 {
    font-size: 4.5vw !important;
    top: -64px !important;
  }
  .main .categories_page .sub_img h3 {
    line-height: 120px !important;
    font-size: 65px !important;
  }
  .main .categories_page .sub_img i {
    font-size: 70px !important;
    top: 50% !important;
  }
  .main .categories_page .download_share a .background_strip {
    height: 80px !important;
  }
  .main .categories_page .download_share a .background_strip h3 {
    font-size: 70px !important;
  }
  .main .search_for h4 {
    font-size: 50px !important;
  }
  footer .footer {
    height: 85px !important;
  }
  footer .footer a .f-nav span,
  footer .footer a .f-nav i {
    font-size: 32px !important;
  }
  .modal-dialog {
    max-width: 90% !important;
  }
  .modal-dialog .modal-content .modal-body a {
    font-size: 90px !important;
    padding: 40px !important;
  }
  .modal-dialog .modal-content .modal-footer a {
    width: 50% !important;
    height: 80px !important;
    line-height: 75px !important;
    font-size: 60px !important;
  }
}

@media (min-width: 1250px) and (max-width: 2000px) {
  .main_container .welcome_page .logo img {
    width: 23% !important;
    margin: 2% auto !important;
  }
  .main_container a {
    left: 47% !important;
  }
  .main_container header .logo-title {
    margin-left: 17% !important;
  }
  .main_container header .logo-title img {
    width: 15% !important;
  }
  .main_container .main .owl-video .item .video-fluid {
    height: 500px !important;
  }
  .main_container .main .owl-theme .owl-nav.disabled + .owl-dots {
    top: 97% !important;
  }
  .main_container .main .status .contant .filter-title {
    padding-top: 100px !important;
  }
  .main_container .main .status .contant .filter-title h4 {
    font-size: 70px !important;
  }
}

/*------------------------------------------- End Media Queries ---------------------------------------*/
/*------------------------------------------- Start Modal For Share ---------------------------------------*/
.modal-content {
  background-color: #191916d4;
}

#snapModal2 {
  margin-top: 30%;
}

#snapModal2 .modal-body {
  text-align: center;
}

#snapModal2 .modal-body a {
  font-size: 40px;
  color: #fff;
  padding: 5px;
  text-align: center;
  width: 15%;
  text-decoration: none;
}

#snapModal2 .modal-footer a {
  display: inline-block;
  margin: auto;
  background: #d3181f;
  width: 50%;
  text-align: center;
  height: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 10px;
  font-size: 25px;
}

.yousefh3 {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-size: 7vw;
}

/*------------------------------------------- End Modal For Share ---------------------------------------*/
/*# sourceMappingURL=style.css.map */